* {
    padding: 0;
    margin: 0;
}

body {
    padding: 1rem;
}

.trigger-btn { 
    margin-top: 1rem;
}

.snackbar  {
    padding: 1rem;
    background: #5c5757;
    width: fit-content;
    font-size: 1rem;
    color: #FFF;
    opacity: 0;
    transition: all 1s ease; 
    position: absolute;
    right: -10%;
}

.active {
    opacity: 1;
    right: 2%;
}